* {
    box-sizing: border-box 
 }

body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    min-height: 100vh;
}

#container {
    min-height: 100vh;
    /* min-width: 100vw; */
    /* max-width: 100vw; */
    background-image: url(./assets/jonathan-francisca-BpbkLACP64M-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    height: 10vh;
    position: sticky;
    /* stickiness worked without top: 0 at first but now it only works with it */
    top: 0;
    /* width: 100vw; */
    
}

dialog {
    
}

#content {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 5vw;
    min-height: 85vh;
    /* width: 100vw; */
}

.book {
    height: 30vh;
    width: 28vh;
    background-image: url(./assets/round-icons-sYodBkUvFBI-unsplash.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    text-align: center;
    font-size: min(3vw, 3vh);
    padding-top: 1%;
    /* display: flex;
    flex-direction: column; */
}

button {
    margin-top: auto;
}

.info {
    font-size: min(2vw, 2vh);
}